* {
  font-family: "Trirong", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-top: 32px;
}

.container {
  width: 650px;
  margin: 0 auto;
}