.listItem {
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  padding: 16px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.delIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}